.card {
    width: 18rem;
}
.player-wrapper {
    position: relative;
    padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }
  div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }
  .wrapper {
    padding: 5px 20px;
}

.wrapper fieldset {
    margin: 20px 0;
}
.d-sm-flex{
    justify-content: center;
}
body .header-logo img {
    width: 20px;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}